<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script>
        function deleteRental(button) {
            const rentalId = button.getAttribute('data-rental-id');
            if (confirm("Are you sure you want to delete this car?")) {
                fetch(`/rental/delete/${rentalId}`, {
                    method: 'GET'
                })
                    .then(response => {
                        if (response.ok) {
                            alert("Rental deleted successfully.");
                            location.reload();
                        } else {
                            alert("Failed to delete the rental.");
                        }
                    })
                    .catch(error => console.error('Error deleting rental:', error));
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            if(window.location.pathname.includes("archive")) {
                document.querySelectorAll(".return-button").forEach(function (btn) {
                    btn.style.display = "none";
                })
                document.querySelector(".rental-tittle").textContent = "Returned rentals";
            }
        })

        function closePopup() {
            document.getElementById("returnDetails").style.display = "none";
        }

       function showReturnForm(button) {
            const rentalId = button.getAttribute("data-rental-id");
            showRentalDetails(rentalId);
       }

       function showRentalDetails(rentalId) {
            document.getElementById("returnDetails").style.display = "block";
            document.getElementById("rentalId").value = rentalId;

       }

    </script>
</head>
<body>
<div>
    <h1 class="rental-tittle">Active rentals</h1>
    <table>
        <thead>
        <tr>
            <th>Car id</th>
            <th>Customer id</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Rental Status</th>
            <th>Duration</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rental : ${rentals}">
            <td th:text="${rental.brand}"></td>
            <td th:text="${rental.model}"></td>
            <td th:text="${rental.startDate}"></td>
            <td th:text="${rental.endDate}"></td>
            <td th:text="${rental.rentalStatus}"></td>
            <td th:text="${rental.duration}"></td>
            <td th:text="${rental.price}"></td>
            <td>
                <button type="button"
                        class="return-button"
                        th:attr="data-rental-id=${rental.rentalId}"
                        th:value="${rental.rentalId}"
                        onclick="showReturnForm(this)">Return
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-sm"
                        th:attr="data-rental-id=${rental.rentalId}"
                        th:value="${rental.rentalId}"
                        onclick="deleteRental(this)">Delete</button>
            </td>
            <td>
                <a class="btn btn-warning btn-sm"
                   th:href="@{/rental/edit/{id}(id=${rental.rentalId})}">
                    Edit
                </a>
            </td>
        </tbody>
    </table>
</div>

<div id="returnDetails" class="popup-overlay" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="returnModalLabel">Return the car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form th:action="@{/rental/return}" method="post">
                <div class="modal-body">

                    <input type="hidden" name="rentalId" id="rentalId">

                    <div class="form-group">
                        <label for="condition">Condition:</label>
                        <select class="form-control" name="condition" id="condition">
                            <option th:each="con : ${condition}" th:value="${con}" th:text="${con}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="mileage">Mileage</label>
                        <input type="number" class="form-control" id="mileage" name="mileage" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closePopup()">Anuluj</button>
                    <button type="submit" class="btn btn-primary">Potwierdź</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>